.overlay::selection {
    background: transparent;
}
.crop-component::selection {
    background: transparent;
}
.crop-blur {
    -webkit-filter: blur(10px) sepia(0.2);
    filter: blur(10px) sepia(0.2);
}
.crop-image,
.overlay > img {
    width: auto;
    height: auto;
    /* можно явно указать либо ширину, либо высоту */
    width: 560px;
	min-width: 1150px;
    /*либо height: 300px;*/
    display: block;
    object-fit: contain;
    object-position: center;
}
/*add stretch*/
.crop-image {
    display: block;
    position: relative;
    pointer-events: none;
}
/*add stretch*/
.overlay > img {
    position: absolute;
    display: block;
}
.crop-component {
    position: relative;
    display: table;
	
    z-index: 999;
    background-color: white;
    margin: 0 auto;
    overflow: hidden;
    border: white 3px solid;
}
.overlay {
    position: absolute;
  	left: 50%;
    top: 50%;  
		z-index: 999;
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 0 3px rgb(233, 119, 119);
    overflow: hidden;
    box-sizing: content-box;
}
.overlay:hover,
.overlay:active {
    cursor: move;
}
/* .btn-crop {
    position: fixed;
	right: 5px;
    bottom: 5px;
    vertical-align: bottom;
    padding: 6px 10px;
    z-index: 999;
    background-color: #DE3C50;
    border: none;
    border-radius: 5px;
    color: #FFF;
} */
.btn-crop img {
    vertical-align: middle;
    margin-left: 8px;
}
.center {
		display: flex;
		justify-content: center;
	  align-items: center;
	  min-height: 660px;
	  width: 100%;
    height: 100%;
    background: #EAEAEA;
}
.modal-content {
    max-height: 800px;
}
/* .crop-blur {
    filter: blur(2px) sepia(0.2);
} */
.modal-body {
    padding: 0px !important;
}