.comment{
    background-color: rgb(236, 239, 241);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.view-all-comments{
    margin-bottom: 20px;
}
.action-items{
    display: flex !important;
    align-items: center !important;
}
.live-chat-title{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}
.comment-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px !important;
}

.first-comment-title{
    margin-bottom: 10px !important;
}
.reply-form{
    display: flex !important;
}
.reply-form-textfield .MuiOutlinedInput-root{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.reply-form-button{
    border: solid 1px !important;
    background-color: #3f51b5 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.reply-form-button .MuiButton-label{
    color: #ffffff;
}
.reply-form-button SVG{
    font-size: 38px !important;
}
.reply-form-button .MuiButton-endIcon{
    margin-right: 5px !important;
}
.chat-messages {
    width: 100%;
    position: fixed;
    overflow: scroll;
    height: 80%!important;
    padding: 10px 5px 10px 20px;
    height: '75%',
}