.comment{
    background-color: rgb(236, 239, 241);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.view-all-comments{
    margin-bottom: 20px;
}
.action-items{
    display: flex !important;
    align-items: center !important;
}
.live-chat-title{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin-left: 10px !important;
}
.comment-author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px !important;
}

.first-comment-title{
    margin-bottom: 10px !important;
}
.reply-form{
    display: flex !important;
}
.reply-form-textfield .MuiOutlinedInput-root{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
.reply-form-button{
    border: solid 1px !important;
    background-color: #3f51b5 !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.reply-form-button .MuiButton-label{
    color: #ffffff;
}
.reply-form-button SVG{
    font-size: 38px !important;
}
.reply-form-button .MuiButton-endIcon{
    margin-right: 5px !important;
}
.chat-messages {
    width: 100%;
    position: fixed;
    overflow: scroll;
    height: calc(100% - 345px);
    padding: 10px 5px 0px 20px;
}

.livechat-textfield{
    display: flex;
    border: solid 1px;
    background-color: #cecece !important;
    width: 95%;
}

.livechat-textfield .MuiInput-underline:before{
    border: none !important;
}

.livechat-textfield .MuiInput-underline:after{
    border: none !important;
}

.livechat-textfield label{
    padding: 10px !important;
}

.livechat-textfield input{
    height: 40px;
    padding: 5px;
    background-color: #cecece !important;
    color: #000000 !important;
}

.livechat-textfield .MuiInputBase-input:focus{
    background-color: #ffffff !important;
}

.chatMessageDiv{
    cursor: pointer;
}
.chatReplyButton{
    display: none !important;
}

.chatMessageDiv:hover + .chatReplyButton{
    display: block !important;
}
.chatMessageDiv svg path{
    width: 20px;
}

.mydivouter{
    display: flex;
position:relative;
width: 100%;
margin: 0 auto;
align-items: center;
margin-left: 20px;
}
.mydivoverlap{
position: relative;
z-index: 1;
}
.mybuttonoverlap{
position: absolute;
z-index: 2;
display: none;
right: 0px;
}
.mydivouter:hover .mybuttonoverlap{ 
display:block;
}
.chatTextMessage{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.text-area{
    word-break: break-word !important;
}

/************ Themes ***********/
.mode-dark .MuiAutocomplete-popper .MuiPaper-root ul {
    background-color: #313133 !important;
    color: #ffffff;
}
.mode-dark .w-md-editor.w-md-editor-show-edit {
    background-color: #424242 !important;
    caret-color: #5BA2FF;
}
.mode-dark .wmde-markdown-color code[class*="language-"] {
    color: #ffffff;
}
.mode-dark .w-md-editor-toolbar li > button {
    color: #ffffff;
}
.mode-dark .w-md-editor-toolbar{
    background-color: #424242;
    border-bottom: 1px solid black;
}
.mode-dark ::placeholder{
    color: white;
}
/************ Themes ***********/