.comment{
    overflow-wrap: anywhere;
}
.vote-buttons{
    min-width: 24px !important;
}
.reply-actions-box{
    display: flex;
    flex-direction: column;
}
.reply-actions{
    display: flex;
    flex-direction: row;
}
.notificationBox{
    cursor: pointer;
    border-radius: 5px
}